


html{
  scroll-behavior: smooth;
}


  td{
    text-align: center;
    font-size: 20px;

  }
  .word
  {
    font-size: 25px;
    color: black;

  }
  .body
  {
    position:relative;
    top: 20%;
    left: 15%;
    background-color:rgba(59, 34, 62, 0.04);
    z-index:10;
  }
  .title
  {
    position: relative;
    margin: 0px;
    padding:0px;
    width: 85%;
    height: 15%;
    right: 0;
    background-color: rgba(165, 23, 215, 0.14);
    color:white;
    text-align: center;
    font-size: 80px;
    text-decoration: 900;
  }

  .sidemenu{
    position: fixed;
    top: 0;
    width: 15%;
    height: 250%;
    background-color:rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(255, 255, 255);
    z-index: 10;
    margin: 0px;
    padding-left: 0px;

  }
  .sidemenu li
  {

      list-style-type:square;
      color:gray;
  }
  .sidemenu li a{

    border:underline 100px white;

    color: white;
  }



    .resp
    {
      position: relative;
      left: 0;
      bottom: 26px;
    }

    .abso
    {
      padding-top:20px;

      position:absolute;
      background-color:rgb(0, 0, 0);
      z-index: 1;
      display: block;
      width:250px;
      height: 100px;
      border:solid 3px rgba(21, 136, 81, 0.57);
      text-align: center;
      font-size: 20px;
      color: rgb(255, 255, 255);
    }
    .starter-template {
    padding: 50px 50px;
        background-color: rgb(184, 191, 204);
    }
    #menu{
        position: relative;
        top: 0px;
        width: 100%;

     }
  #menu li
    {
     left: 0;
     list-style-type: none;
     width:21.5%;
     float:right;
     text-align: center;
  }

  #menu li a
   {
     overflow:hidden;
     color:rgb(57, 207, 204);
     font-size:30px;
     font-weight:900;
     border: solid 3px #000;
     padding:10px 0;
     display:block;
     background:#666;
  }

#menu li a:hover {
color:rgba(170, 25, 45, 0.28);
background:#555;
text-decoration: underline;
}

.HtmlBody
{
    width: 1000px;
    font-size: 100%;
}

@media screen and (max-width:479px)
{
  .HtmlBody
  {
    font-size:50%;
      width:480px;
  }
}




　
#second
{
  width:500px;
  height:500px;
  overflow:hidden;
}
#second ul{
  position: relative;
  left: 0;
  width:300%;
  animation: slider_left 10s infinite;
}
.index
{
  color: black;
  padding: 10 ;
  background-color: rgba(42, 96, 120, 0.36);
  box-shadow: 2px 5px 10px 1px rgba(47, 47, 47, 0.64);

  right:0;
  text-align: center;
  font-weight: 900;
  font-size: 45px;
}

/*プレイ画像のサイスは固定*/
#slider-first
{
  padding-top: 25px;
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 450px;
  z-index: 0;
}
.slider-wall
{
  position: relative;
  width: 300%;
  height: 576px;

  animation: slide 5s infinite;
}
.slider-item
{
  position: relative;
  float: left;
  width: auto;
  height:auto;
}







    @keyframes slider_left
   {

     0% { transform: translateX(0); }
     33% { transform: translateX(-500px); }
     66% { transform: translateX(-1000px); }
    100% { transform: translateX(0); }
  }

  @keyframes icon {
  0%{transform: translateY(0px);}
  100%{transform: translateY(-10px);}

  }

　menu{

  }

menu li{
position:relative;

text-decoration:underline;
text-align: center;
list-style-type: decimal;
color: rgb(31, 162, 158);
font-size:30px;
}
menu li a
{
  color: rgba(255,128,0,128);
  transition: 800ms ;
}
menu li a:hover{

  color: black;
  font-size: 150%;
}

.GridBase
{
  display:grid;
  grid-template-rows: 60px 60px 120px;
  grid-template-columns: 50px 50px 60px 50px 50px 60px;
  justify-content: center;
}

.box
{
　z-index: 10;
  background-color: rgb(162, 162, 162);
  display: block;
  width: 25px;
  height: 25px;
  border-top:solid 10px rgb(98, 98, 98);
  border-left:solid 8px rgb(115, 115, 115);
  border-bottom:ridge 15px rgb(131, 131, 131);
  border-right:ridge 10px rgb(131, 131, 131);
  text-align:center;
  padding-top: 5px;
}
.box:active
{
  width: 25px;
  height: 25px;
  padding:1px;
  text-align:center;
  padding-top: 5px;
  border-top: solid 10px rgb(131, 131, 131);
  border-right: solid 10px rgb(131, 131, 131);
  border-left: solid 8px rgb(131, 131, 131);
  border-bottom: solid 15px rgb(131, 131, 131);

}
.box1
{
z-index: 10;
  background-color: rgb(162, 162, 162);
  display: block;
  width: 100px;
  height: 25px;
  border-top:solid 10px rgb(98, 98, 98);
  border-left:solid 8px rgb(115, 115, 115);
  border-bottom:ridge 15px rgb(131, 131, 131);
  border-right:ridge 10px rgb(131, 131, 131);
  text-align:center;
  padding-top: 5px;
}
.box1:active
{
  width: 100px;
  height: 25px;
  padding:1px;
  text-align:center;
  padding-top: 5px;
  border-top: solid 10px rgb(131, 131, 131);
  border-right: solid 10px rgb(131, 131, 131);
  border-left: solid 8px rgb(131, 131, 131);
  border-bottom: solid 15px rgb(131, 131, 131);

}
