

/*TODO レスポンシブWebデザインの作成*/
/*サイト全体に効果を反映します*/
html{
  scroll-behavior: smooth;
}
/*body全体の制約 画面解像度が変更された際一括で編集できるようにします！*/
div{
  margin: 0px;
}
#main
{
  position: relative;
  margin: 0px;
    /*標準画面幅*/

  background: rgb(255, 255, 255);
  height: 100%;
}
/*
見出し
*/
.index
{
  display:inline-block;
  width: 100%;
  height: 65px;
  background: rgb(199, 227, 216);
  margin-bottom: 10px;
  box-shadow:5px 3px 2px 3px rgb(165, 209, 189);
  font-size: 3em;
}
/*本文*/
#maincont
{
  position:relative;
  top:0px;
  margin: 0px;
  padding: 0px;

  font-size: 1.2em;
}
/*サイドメニュー欄の設定*/
#side
{
    position: fixed;/*画面に固定*/
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    left: 0px;
    height: 100%;
}
#side menu li a
{
  left: 0px;
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  margin-left: 0px;
  padding-top: 5px;
}
/*
タイトルの要素
画像でも可
*/

.title
{
  position: relative;
  text-align:center;
  width: 100%;
  color:rgb(184, 184, 184);
  font-size: 4.5em;
  background: rgb(3, 11, 41);
}
/*
タイトルの下のメニュ-
*/
.upmenuzone
{
  margin: 0px 0px 30px 0px;
  display: inline-block;
  width: 100%;
}
.UpMenuList
{
  margin: 0px;
  padding:0px;
  background: rgb(43, 95, 196);
  box-sizing: border-box;
  border:solid 5px rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 50%;
  color: rgb(143, 120, 167);
  font-size: 2em;
  float: left;
}

#slideshow
{
  position: relative;
  /*高さは設定しない*/
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

#TopFrame
{
  margin-bottom: 20px;
  width: 90%;
  max-height: 650px;
  transition: ease 0.5s;
}



#SlideContent
{
    float:left;
}


#SliderWidth
{

  /*スライドの全体幅*/
    width: 100%;
    height: 76px;/*6pxは枠線*/
    min-width:250px;
    padding:25px 0px 25px 0px;
    /*中央合わせをするために設定*/
    display: inline-flex;
    /*コンテンツの中央合わせ*/
    justify-content: center;

}
#ImgFrame
{
  /*画像スライドの見える部分を表示*/
  height: 70px;
  width:70%;
  border:solid 3px rgb(45, 45, 45);
  overflow:hidden;
}
#FrameWall
{
  /*画像を持っている壁的存在。これが動くクラス*/
  width: 1000%;
  transition: 1.5s;

}
.ImgItem img
{
  padding:0px;
  cursor: pointer;
  float:left;
  width: 100px;
  height:100%;
  margin:0px 10px 10px 10px;
  left: auto;
}

/*
PC画面用の設定
*/
@media screen and (min-width:1001px){
 .UpMenuList
 {
   align-items: center;
   width: 25%;
 }
}
/*
スマートフォンの画面用設定
*/
@media screen and (max-width:480px){
  #main
  {
    font-size: 40%;
  }



  .UpMenuList
  {

    width: 100%;
    border: solid 2px rgb(0, 0, 0);
    font-size: 2em;
    height: 20px;
    float: none;
  }
  .index
  {
    height: 50px;
  }

}
